*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #320033;
    font: 14px arial;
}
a {
    text-decoration: none;
    outline: 0;
}
img {
    border: 0;
}
#page {
    width: 1030px;
    margin: 0 auto;
}
.cl {
    clear: both;
}
#col1 {
    float: left;
    width: 310px;
}
.col_title {
    float: left;
}
.col_title img {
    float: left;
}
.col_box {
    width: 302px;
    padding-top: 13px;
    float: left;
}
.col_content {
    width: 300px;
    float: left;
}
#col2 {
    float: left;
    position: relative;
    width: 300px;
}
#side_title {
    position: absolute;
    top: 62px;
    left: 0px;
}
#cc_recenttracks_main {
    position: absolute;
    top: 62px;
    left: 30px;
}
.ads {
    padding-bottom: 10px;
    float: left;
}
#player {
    width: 302px;
    height: 60px;
    float: left;
}

#col3 {
    float: left;
    width: 420px;
}
#col3 .col_title {
    width: 415px;
    height: 50px;
    padding-left: 5px;
}
.title_bg {
    background: url("../images/title_bg.jpg") repeat-x;
    width: 415px;
    height: 50px;
    color: #333;
    font-size: 22px;
}
#schedule_title {
    float: left;
    padding: 11px 0px 0px 20px;
}
#archieve_title{
    float: left;
    padding: 13px 0px 0px 20px;
    font-size: 18px;
}
#weekly_schedule_title {
    float: right;
    padding: 11px 10px 0px 0px;
}
#archieve_box, #schedule_box {
    width: 415px;
    height: 280px;
    margin: 5px 0px 5px 5px;
    float: left;
    background-color: #372e4b;
    padding: 10px 0px;
}
#schedule_box {
    height: 280px;
}
#archieve_box{
    height: 210px;
}
#schedule_innter {
    height: 280px;
    overflow: auto;
    width: 415px;
    padding: 0px 0px;
}
#weekly_schedule_title span {
    cursor: pointer;
}
#weekly_schedule_title span:hover {
    color: #000;
}
#archieve_box_inner, #weekly_schedule, #daily_schedule {
    padding: 0px 20px;
    color: #fffcff;
    font-size: 14px;
}
#weekly_schedule, #daily_schedule{
    height: 260px;
}
#archieve_box_inner{
    height: 210px;
    overflow: auto;
}
#daily_schedule{
    display: none;
}
#archieve_box_inner ul, #weekly_schedule ul, #daily_schedule  ul {
    padding: 0px 0px 10px 0px;
}
#archieve_box_inner ul li, #weekly_schedule ul li, #daily_schedule  ul li {
    line-height: 24px;
    list-style: none;
}
#archieve_box_inner a {
    color: #fffdff;
}
.week_days {
    padding: 0px 0px 3px 0px;
    border-bottom: 1px solid #fff;
    line-height: 26px;
    margin-bottom: 5px;
}
.schedule_row {
    border: 1px solid #000;
    background-color: #000;
    border-radius:5px;
    height: 20px;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
}
.show_title {
    float: left;
}
.show_time {
    float: right;
}